<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2PQPc5AtE24qt04ClzstdEPtz4_bGX9U</string>
	<key>GCM_SENDER_ID</key>
	<string>263078464216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinewave.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cinewavev1</string>
	<key>STORAGE_BUCKET</key>
	<string>cinewavev1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263078464216:ios:05fe1bbde2c71bc3f1a5ad</string>
</dict>
</plist>